
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492586421276'); /* IE9*/
  src: url('iconfont.eot?t=1492586421276#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492586421276') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492586421276') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492586421276#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before { content: "\e614"; }

.icon-pause:before { content: "\e602"; }

.icon-right:before { content: "\e65f"; }

.icon-left:before { content: "\e660"; }

.icon-audio:before { content: "\e675"; }

.icon-magnify:before { content: "\e668"; }

